*{
    margin: 0;
    padding: 0;
    overflow: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
body{
    max-width: 1440px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin: auto;
}
nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20  5%;
}
/* designing the logo  */
nav img{
    width: 150px;
}
/* designing the unorderlist */
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    font-size: 20px;
    margin-right: 50px;
    font-weight: 600;
}
nav ul li:first-child {
    font-weight: 900;
    color: #ff3131;
  }

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

main{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}
.medicaldescriptions{
    width: 50%;
    align-items: center;
}
.medicaldescriptions h1{
    font-size: 45px ;
    margin-bottom: 20px;
    color: #20BC7E;
}
.medicaldescriptions p{
    font-size: 20px;
    font-weight: 500;
}
.achievement{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
.levelcards{
    height: 100px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.levelcards span{
    font-size: 25px;
    font-weight: 600;
    color: #20BC7E;
}
.lavelcards p{
    font-size: 15px;
    font-weight: 9000;
}
